{% extends '@front/page.html.twig' %}
{% block title %}{{ page_title }}{% endblock %}
{% block stylesheets %}{% endblock %}
{% block page_content %}
    <h1>{{ page_title }}</h1>
    <div>Forgot Password content</div>
{% endblock %}
{% block javascripts %}{% endblock %}