{% extends '@front/page.html.twig' %}
{% block title %}{{ page_title }}{% endblock %}
{% block stylesheets %}
    <link href="{{ asset('/themes/front/css/user/forgot_password_page.css') }}" rel="stylesheet">
{% endblock %}
{% block content %}
    <!-- Three columns of text below the carousel -->
    <div class="row">
        <div class="col-md-12">
            <form class="form-forgot-password">
                <h2 class="form-signin-heading">Lost password</h2>
                <label for="inputEmail" class="sr-only">Email address</label>
                <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="">

                <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
            </form>
        </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->
{% endblock %}
{% block javascripts %}{% endblock %}