<!-- FOOTER -->
<footer>
    <p class="pull-right"><a href="#">Back to top</a></p>
    <p>&copy; 2016 DicolCMS. &middot; <a href="{{ path('privacy_page') }}">Privacy</a> &middot; <a href="{{ path('terms_page') }}">Terms</a></p>
</footer>