{% extends '@front/base.html.twig' %}



{% block page_content %}
    <style>
        .navbar-wrapper {
            position: inherit;
        }
    </style>
    {% include '@front/partials/header.html.twig' %}



    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">
        {% block content %}

        {% endblock %}




        {% include '@front/partials/footer.html.twig' %}

    </div><!-- /.container -->

{% endblock %}

{% block javascripts %}{% endblock %}