{% extends '@front/base.html.twig' %}

{% block body %}
    {% include '@front/partials/header.html.twig' %}
    {% block page_content %}
        <div>Page content</div>
    {% endblock %}
    {% include '@front/partials/footer.html.twig' %}
{% endblock %}