{% extends '@front/page.html.twig' %}
{% block title %}{{ page_title }}{% endblock %}
{% block stylesheets %}{% endblock %}
{% block content %}

    <div class="row">
        <div class="col-lg-12">
            <h1>Terms</h1>
            <p>Updating...</p>
        </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->
{% endblock %}
{% block javascripts %}{% endblock %}