<header>
    <ul>
        <li><a href="{{ path('home_page') }}">Home</a></li>
        <li><a href="{{ path('sign_in_page') }}">Sign In</a></li>
        <li><a href="{{ path('sign_up_page') }}">Sign Up</a></li>
        <li><a href="{{ path('forgot_password_page') }}">Forgot Password</a></li>
    </ul>
</header>